{% extends "base.html" %}
{% block title %}About Me - shourya vemula{% endblock %}
{% block content %}
  <section>
    <!-- Page Header (updates dynamically with JS) -->
  <header>
    <h1 id="header-title">This is shourya</h1>
    <h2 id="section-title">SkillxForge</h2>
  </header>
    <img src="{{ url_for('static', filename='images/bg-about.jpeg') }}" alt="Shourya_Vemula" class="media">
    <h1 id="srv-about">About me</h1>
    
    <p>Greetings!, I’m Shourya Vemula – a passionate Mechatronics Engineering student, aspiring data scientist, and creative designer.
        <p>I am a digital nomad currently based in Mumbai. I've been working in graphic design for the past 2 years and coding for last 3 years.
    I made this website using python(flask), Js, CSS, HTML.I made this portfolio website for sole purpose to showcase me and my WORK. </p>
    <p>
I love building things that combine mechanical systems, electronics, and intelligent software. From designing simple RC projects to exploring data-driven insights with Python and machine learning, <span style="background-color: rgba(228, 41, 41, 0.872);">My journey is all about learning, creating, and innovating.</span></p>
  </section>
{% endblock %}
